In [25]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [26]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [27]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [63]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

# Calculate the june start and june end for one year from the last date in data set
# Calculate the date one year from the last date in data setusing this line of code: 
#prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)

#of you wanted just june 2016:
#June_start = dt.date(2016, 4, 1) 
#June_end = dt.date(2016, 4, 30)

# Perform a query to retrieve the June temperature scores
        #session.query() -query the database
        #Measurement.date -referencing the table we want to query 
        #Measurement.tobs - again, referencing the temperature data in the measurement table
        #filter() - filter for dates we defined in last line of code. 
        #all() - extracts all of the results from our query and put them in a list

results_dates = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()
#just the temperatures:
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [64]:
#  3. Convert the June temperatures to a list.
type(results) #it already is a list...

list

In [68]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df_june = pd.DataFrame(results_dates, columns=['date','June Temps'])
df_june.head()

         date  June Temps
0  2010-06-01        78.0
1  2010-06-02        76.0
2  2010-06-03        78.0
3  2010-06-04        76.0
4  2010-06-05        77.0

In [69]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df_june.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [71]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [74]:
# 7. Convert the December temperatures to a list.
type(results)

list

In [79]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df_december = pd.DataFrame(results, columns=['date','December Temps'])
df_december.head()

         date  December Temps
0  2010-12-01            76.0
1  2010-12-03            74.0
2  2010-12-04            74.0
3  2010-12-06            64.0
4  2010-12-07            64.0

In [80]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df_december.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000